{% extends 'base.html' %}

{% block head %}
<h1>Übersicht der Artikel</h1>
<a href="{% url 'artikelanlage:artikel_create' %}">neuen artikel anlegen</a>
{% endblock %}

{% block content %}
<ul>
    <li><a href="{% url 'artikelanlage:artikel_list' %}">Zeige alle Artikel</a></li>
    <li><a href="{% url 'artikelanlage:artikel_list' %}?angelegt=1">Zeige angelegte Artikel</a></li>
    <li><a href="{% url 'artikelanlage:artikel_list' %}?angelegt=2">Zeige nicht angelegte Artikel</a></li>
</ul>
<ul>
    {% for artikel in object_list %}
        <li>
            <a href="{% url 'artikelanlage:artikel' artikel.pk %}">
                {{artikel}} [{{artikel.ist_angelegt}}]
            </a>
        </li>
    {% empty %}
        <li>Keine Einträge vorhanden!</li>
    {% endfor %}
</ul>
{% endblock%}