{% extends 'base.html' %}

{% block head %}
<h1>Kategorie {{category}}</h1>
<a href="{% url 'events:category_update' category.pk %}">Kategorie editieren</a>
{% endblock %}

{% block content %}

<a href="{% url 'events:categories' %}">Zurück zur Übersicht</a>
<p>{{category.sub_title}}</p>
<p>{{category.description}}</p>

<div class="mb-5 mt-5">
<a href="{% url 'events:event_create' category.pk %}" class="btn btn-primary">Neuen Event in {{category}} eintragen</a>
</div>

<h2>Events in Kategorie {{category}}</h2>

<ul>
    {% for event in category.get_events %}
        <li><a href="{% url 'events:event' event.pk %}">
            {{event}}</a>
        </li>
    {% empty %}
        <li>Keine Einträge vorhanden!</li>
    {% endfor %}
    </ul>


{% endblock%}