{% extends 'base.html' %}
{% load event_tags %}

{% block head %}
<h1>{{event}}</h1>

 
{% if user == event.author or user|is_group_member:"Moderatoren" %}
<a href="{% url 'events:event_update' event.pk %}">editieren</a> |
<a href="{% url 'events:event_delete' event.pk %}">löschen</a>
{% endif %}

{% endblock %}

{% block content %}

<a href="{% url 'events:events' %}">Zurück zur Übersicht</a>
<p>{{event.sub_title|default:"-"}}</p>
<p>{{event.description|linebreaksbr}}</p>

<!--Verlinkung auf Kategorie -->
<p><a href="{% url 'events:category' event.category.pk %}">{{event.category}}</a></p>

<h2>Ähnliche Events</h2>
<ul>
{% for related_event in event.related_events %}
    <li><a href="{% url 'events:event' related_event.pk %}">
        {{related_event}} [{{related_event.category}}] [{{related_event.author}}]</a>
    </li>
{% empty %}
    <li>Keine Einträge vorhanden!</li>
{% endfor %}
</ul>

{% endblock%}