{% extends 'base.html' %}

{% block head %}

{% if suchwort %}
<h1>Ergebnis der Suche nach: {{suchwort}}</h1>
{% else %}
<h1>Übersicht der Events</h1>
{% endif %}

{% comment %}
<a href="{% url 'events:event_create' %}">neuen Event anlegen</a>
{% endcomment %}
{% endblock %}

{% block content %}
<ul class="list-group event_box">
    {% for event in object_list %}
    <a href="{% url 'events:event' event.pk %}">
    <li class="list-group-item rounded">
    <small><span>am {{event.date}}</span></small><br>
    <b>{{event.name}}</b>
        <span class="badge rounded-pill bg-primary">{{event.category}}</span>
        <span class="badge rounded-pill {{ event.is_active|yesno:"bg-success,bg-danger,bg-info" }}">{{event.is_active}}</span>
        <p>by {{event.author}} </p>
    </li>
    </a>
    {% endfor%}
    </ul>

{% include 'snippets/paginator.html' %}
{% endblock%}